*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    align-items: center;
}
body{
    font-family: sans-serif;
    align-items: center;
}
.head{
    font-family: sans-serif;
}
nav{
    background: #fbf7ed;
    font: 21.25px;
    font-weight: bold;
    height: 80px;
    width: 100%; 
    color: #42474c;
}
.pic{ 
   margin: 0px 40px;
}
.navbar{
    display: flex;
    align-items: center;
    padding:0px 20px;
}
nav ul{ 
    margin-left: 20px;
    z-index: 2;
}
nav ul li{
    display: inline-block; 
    margin: 0px 15px;
}
nav ul li a{
    text-decoration: none;
    color: #42474c;
}
.navbar1{
/* flex-basis: 30%; */
margin-left: 11rem
}
.navbar1 ul{
    float: right;
    /* padding: 35px 50px 10px 50px; */
}
.navbar1 ul li{
    display: inline-block;
    list-style: none;
}
.butn{
    /* padding-inline-start: 20px; */
    width: 180.8px;
    height: 50.8px;
    margin-left: 32px;
    background-color: #008060;
    color: aliceblue;
    border-radius: 4px;
    border:2px solid #008060;
    text-align: center;
    font: 21.25px;
    font-weight: bold;
}
.sec{
    padding: 60px 0px;
    font-family: sans-serif;
    font: 20px;
    background-color: #fbf7ed;
    color: #6b7177;
}
.main1{
    padding: 0px 72.928px;
    display: flex;
}
.text{
    padding: 0px 18px;
    width: 437.6px; 
}
.platform{
    font-size: 65px;
    color: #004c3f;
    margin: 0px 0px 30px;
    font-weight: bolder;
}
.nowrap{
    white-space: nowrap;
} 
.most{
    font: 27.75px;
    margin: 0px 0px 32px;
    color: #6b7177;
    text-align: left;
    font-family: sans-serif;
    width: 402px;
}
.inp{
    margin: 0px 8px 8px 0px;
    padding: 20px 18.75px;
    background: #ffffff;
    width: 401.63px;
    border-radius: 5px;
    font-size: 25px;
}
.butn1{
    margin: 0px 8px 8px 0px;
    width: 401.63px;
    padding: 20px 36.25px;
    background-color: #008060;
    color: aliceblue;
    border-radius: 4px;
    border:2px solid #008060; 
    font-weight: bold;
    font-size: 25px;
}
.shop{
    margin: 16px 0px 15px;
    font-size: 15px; 
    color: #42474c; 
    width: 402px;
} 
.pic2{
    align-items: left; 
    margin: 0px 0px 0px 109px;
}
.sec1{
    background-color: #004c3f;
    padding: 120px 0px;
    font-size: 20px;
    color: #6b7177;
}
.main2{
    margin: 0px 72.982px;
    font-size: 20px;
    color: #6b7177;
    padding: 0px 18px;
}
.br{
    margin: 0px 0px 15px;
    font-size: 50px;
    color: #ffffff;
}
.ecom{
    font-size: 20px;
    margin: 0px 0px 20px;
    color: #ffffff;
}
.anc{
    padding: 0px 24px 0px 0px;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
} 
.anc:hover{
    transform: scale(1.05);
}
.ach{
    text-decoration: none;
}
.fd:hover{
    text-decoration: underline;
}
.pix{
    display: inline-flex;
    margin-top: 72.89px;
    gap: 1rem;
}
.fd{
    font-size: 17.5px;
    margin: 7px 5px;
    color: #ffffff;
    font-weight: bold;
    text-align: left;
}
.al{
    font-size: 20.5px;
    margin: 7px 5px;
    color: #ffffff;
    text-align: left;
   font-weight: 300;
}
.pic1{
    margin-bottom: 10px;
}
.main3{
    padding: 60px 0px;
}
.for{
    font-size: 37.5px;
    padding  :0px 0px 40px 0px;
    color: #ffffff;
}
.prts{
   margin: 10px 0px; 
   display: inline-flex;
   padding-left: 10px;
}
.prt1{
    color: #6b7177;
    font-size: 20px;
    width: 360.24px;
    padding-right: 30px;
}
.marg{
    margin: 0px 0px 20px;
}
.bis{
    font-size: 22.5px;
    margin: 0px 0px 15px;
    color: #ffffff;
    padding-top: 15px;
}
.cr{
    font-size: 20px;
    color: #ffffff;
}
.div i{
    color: #ffffff;
    width: 40px;
   margin-bottom: 8px;
}
.sec2{
    background-color:#ffffff;
    padding: 120px 0px;
    font-size: 20px;
    color: #6b7177;
    align-items: center;
}
.main4{
    padding: 0px 77.789px;
    color: #6b7177;
    font-size: 20px;
    font-family: sans-serif;
}
.with{
    margin: 0px 175.05px 90px 175.07px;
    text-align: center;
    font-size: 20px;
    color: #6b7177;
}
.y{
    color: #212326;
    font-size: 50px;
    margin: 0px 0px 15px;
}
.one{
    font-size: 25px;
    margin: 0px 0px 25px;
    color: #6b7177; 
    text-align: center;
}
.sells{
    padding: 0px 92.89px;
    font-size: 20px;
    color: #6b7177;
    align-items: center;
    display: inline-flex;
} 
.use{
    margin: 0px 0px 56.7px 90px;
    padding: 0px 96px 0px 0px;
}
.evr{
   padding: 0px 0px 22.5px;
   font-size: 37.5px;
   color: #212326;
}
.pro{
    font-size: 20px;
    color: #6b7177;
} 
.div1{
    color: #004c3f;
    text-decoration: none;
}
.div1:hover{
    color: #004c3f;
    /* transform: scale(1.05); */
    /* position: absolute;
    right: 0.5px;  */
}
.uvas{
    margin: 0px 92.6px;
    font-size: 20px;
    color: #6b7177;
    display: inline-flex;
}